{% load mathfilters %}
<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			p, li{
				text-align: center
			}

			label.name{
				font-weight: bold
			}

		</style>
	</head>
    <body>
		<p>
		Thank you for submitting your registration!
		</p>

	    <p>
	        <label class="name">Registration Fee: </label>
	        <label id="costReg" class="name">(Base Fee) ${{fee}}</label>
	        
	    </p>

	    <p>
	        <label class="name">Additional Workshop: </label>
	        
		    	Friday:  {{fricourse}}{{friprice}}
		            
	    </p>

	    <p>
	    	---------------------------------------------------
	    </p>

	    <p>
	        <label class="name">Total Cost: ${{total}}</label>           
	    </p>

    </body>
</html>