{% load mathfilters %}
<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			p, li{
				text-align: center
			}

			label.name{
				font-weight: bold
			}

		</style>
	</head>
    <body>
		<p>
		Thank you for submitting your registration!
		</p>

	    <p>
	        <label class="name">Registration Fee: </label>
	        <label id="costReg" class="name">(Base Fee) $ {{fee}}</label>

	      <!--   ${{form.reg.data}} -->
	      
	    </p>

	    <p>
	        <label class="name">Additional Workshop: </label>
	      	<li>
		    	Friday:  {{fricourse}} {{friprice}}
		    	
		    </li>
		    <li>
		 		Saturday: {{satcourse}} {{satprice}}
		 		
		 		
		    </li>     
		   
	    </p>

	    <p>
	    	---------------------------------------------------
	    </p>

	    <p>
	        <label class="name">Total Cost: ${{total}}</label> 
	        <label id="txtresult" ></label>            
	    </p>

	<!--     <script type="text/javascript">

	    	// var sum = {{form.reg.data}} +  {{form.friday.data}}+ {{form.saturday.data}};
	    	// var fri =  {{form.friday.data}};
	    	// var sat = {{form.saturday.data}}.toString();
	    	document.getElementById("txtresult").innerHTML =  5; 
	    	
	    </script> -->
    </body>
</html>